.badge {
  padding: 0.25rem 0.5rem;
  box-sizing: border-box;
  display: inline-block;
  @each $color, $value in $colors {
    &-#{$color} {
      @include badge-variant($value);
    }
  }

  @each $color, $value in $grays {
    &-gray-#{$color} {
      @include badge-variant($value);
    }
  }
  //multocolors
  @each $color, $value in $mc-orange-tints {
    &-mc-orange-#{$color} {
      @include badge-variant($value);
    }
  }
  @each $color, $value in $mc-gray-tints {
    &-mc-gray-#{$color} {
      @include badge-variant($value);
    }
  }
  @each $color, $value in $mc-green-tints {
    &-mc-green-#{$color} {
      @include badge-variant($value);
    }
  }
  @each $color, $value in $mc-blue-tints {
    &-mc-blue-#{$color} {
      @include badge-variant($value);
    }
  }
  @each $color, $value in $mc-purple-tints {
    &-mc-purple-#{$color} {
      @include badge-variant($value);
    }
  }


  &-primary,
  &-mc-orange,
  &-mc-orange-800 {
    color: $white;
  }
}
