.btn {

  &-primary,
  &-mc-orange {
    color: $white;

    &:hover,&:active,&:focus {
      color: $white;
    }
  }

  @each $color, $value in $colors {
    &-#{$color} {
      @include button-variant($value, $value);
    }
  }

  @each $color, $value in $grays {
    &-gray-#{$color} {
      @include button-variant($value, $value);
    }
  }


  @each $color, $value in $colors {
    &-outline-#{$color} {
      @include button-outline-variant($value);
    }
  }

  @each $color, $value in $grays {
    &-outline-gray-#{$color} {
      @include button-outline-variant($value);
    }
  }


}

.close {
  //needed for glyphs that we dont have in Hermes
  font-family: $font-family-fallback;
}
