table {
  &.table {

    &-sm {
      font-size: 75%; // set base as 12 instead of 16
    }

    td {
      vertical-align: middle
    }

    p {
      margin:0;
    }

    .badge {
      padding: 0.5rem 0.25rem;
      box-sizing: border-box;
    }
  }
}
