
@font-face {
	font-family: 'hermesfb';
	src: local("☺"),
		url('../fonts/hermesfb_book-webfont.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'hermesfb';
	src: local("☺"),
		url('../fonts/hermesfb_regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'hermesfb';
	src: local("☺"),
		url('../fonts/hermesfb_semibold-webfont.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'hermesfb';
	src: local("☺"),
		url('../fonts/hermesfb_bold-webfont.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
